<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ansattporten - innlogging</title>
        <meta name="format-detection" content="telephone=no">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="all" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script type="text/javascript" th:src="@{/js/index.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1>Demo innlogging</h1>
            <h2>
                <span th:text="${name == null or name.isEmpty() ? 'Velkommen!' : 'Velkommen ' + name + '!'}"></span>
            </h2>
            <p>Du kan hente ut bevis ved å scanne qr-koden under, eller åpne i MATTR wallet</p>
            <p>Du har logget på med pid <span th:text="${pid}"></span>.</p>

            <div class="image-container">
                <img style="width: 90%;" th:src="'https://api.qrserver.com/v1/create-qr-code/?size=400x400&data=' +${qrCode}"></img>
            </div>
            <a id="deepLinkAnchor" th:href="${deepLink}">Open MATTR Wallet</a>
            <p><a href="/logout">Logg ut</a></p>
        </div>

        <button class="dark-mode-toggle" onclick="toggleDarkMode()">
            <i class="fas fa-moon"></i>
        </button>
    </body>
</html>