<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Ansattporten Integration Demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" media="all" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<script type="text/javascript" th:src="@{/js/index.js}"></script>
	</head>
	<body>
		<button class="dark-mode-toggle" onclick="toggleDarkMode()">
			<i class="fas fa-moon"></i>
		</button>

		<div class="container index-container">
			<h1>Du er no logget ut!</h1>
			<p>
				<a href="/" id="back-button">Gå tilbake</a>
			</p>
		</div>
	</body>
</html>